extends layout

block layout-content
    div.Message
      div.Title
        h1 Post 1
        p.Details Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At tempor commodo ullamcorper a lacus vestibulum.
    div.Message
      div.Title
        h1 Post 2
        p.Details Lorem ipsum color sit amet, azertyhjk.
    
    
