extends layout

block layout-content
  div.View 
    div.Message
      div.Title
        h1 Service 1
        p.Details Lorem ipsum dolor sit amet .
    div.Message
      div.Title
        h1 Service 2
        p.Details Lorem ipsum dolor sit amet .
    div.Message
      div.Title
        h1 Service 3
        p.Details Lorem ipsum dolor sit amet.
